<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight"> Album </h2>
        </template>
            <button class="bg-blue-600 hover:bg-blue-700 px-3 py-1 rounded text-white m-5 show-modal">
              Manage Images
            </button>

           <button class="bg-blue-600 hover:bg-blue-700 px-3 py-1 rounded text-white m-5 show-modal2">
              Update Infos
            </button>

            <div
              class="
                modal
                h-screen
                w-full
                fixed
                left-0
                top-0
                flex
                justify-center
                items-center
                bg-black bg-opacity-50
                hidden
              "
            >
              <!-- modal -->
              <div class="bg-white rounded shadow-lg w-10/12 md:w-1/3">
                <!-- modal header -->
                <div
                  class="border-b px-4 py-2 flex justify-between items-center"
                >
                  <h3 class="font-semibold text-lg">Manage Images</h3>
                  <button class="text-black close-modal">&cross;</button>
                </div>
                <!-- modal body -->
                <div class="modalbody p-3 max-h-80">

                        <ul>
  <li v-for="image in imagesAll" :key="image">
    <input  :checked="hasImage(image.id)" @change="check($event)" type="checkbox" :id="image.id" />
    <label :for="image.id"><img  :src="'/images/'+image.path"/></label>
  </li>
 
  
</ul>
                            
                </div>
                <div class="flex justify-end items-center w-100 border-t p-3">
                  <button
                    class="
                      bg-red-600
                      hover:bg-red-700
                      px-3
                      py-1
                      rounded
                      text-white
                      mr-1
                      close-modal
                    "
                  >
                    Cancel
                  </button>
                
                </div>
              </div>
            </div>



            <div
              class="
                modal2
                h-screen
                w-full
                fixed
                left-0
                top-0
                flex
                justify-center
                items-center
                bg-black bg-opacity-50
                hidden
              "
            >
              <!-- modal -->
              <div class="bg-white rounded shadow-lg w-10/12 md:w-1/3">
                <!-- modal header -->
                <div
                  class="border-b px-4 py-2 flex justify-between items-center"
                >
                  <h3 class="font-semibold text-lg">Update Information</h3>
                  <button class="text-black close-modal2">&cross;</button>
                </div>
                <!-- modal body -->
                <div class="p-3">
                             <label class="block text-left">
                             <input v-model="album.title" class="appearance-none block w-full  text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Title">
                           </label>
                            <label class="block text-left">
                              <textarea  v-model="album.description" class="form-textarea mt-1 block w-full" rows="3" placeholder="Enter some long form content."></textarea>
                            </label>
                            
                </div>
                <div class="flex justify-end items-center w-100 border-t p-3">
                  <button
                    class="
                      bg-red-600
                      hover:bg-red-700
                      px-3
                      py-1
                      rounded
                      text-white
                      mr-1
                      close-modal2
                    "
                  >
                    Cancel
                  </button>
                  <button
                  @click="updateAlbum()"
                    class="
                      bg-blue-600
                      hover:bg-blue-700
                      px-3
                      py-1
                      rounded
                      text-white
                    "
                  >
                    Oke
                  </button>
                </div>
              </div>
            </div>



<article class="bg-white shadow-sm  rounded-lg lg:justify-self-end">
    <div class="grid gap-3 sm:grid-cols-3 items-center md:gap-0 p-7 sm:pb-0 sm:pt-10 sm:px-6">
      <img v-for="image in album.photos" :key="image" :src="'/images/'+image.path">
  </div>
    <div class="pb-7 px-10 sm:pt-0 sm:pb-10">
       <h2 class="text-gray-800 capitalize text-xl font-bold sm:pt-8 pb-1">{{album.title}}</h2>
      <p>{{album.description}}</p>
     
    </div>
     
  </article>
 




    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import axios from "axios";
import { createElementVNode } from "@vue/runtime-core";

export default {
  components: {
    BreezeAuthenticatedLayout,
    Head,
  },

  data() {
    return {
        album_id: window.location.href.split('/').pop(),
        album:{},
        imagesAll:[],
    };
  },

  created() {
         this.getAlbum();  
         this.getPhotos(); 
  },
  mounted() {
    this.toggleModal();
    this.toggleModal2();
  },

  methods: {
    toggleModal() {
      const modal = document.querySelector(".modal");
      const showModal = document.querySelector(".show-modal");
      const closeModal = document.querySelectorAll(".close-modal");

      showModal.addEventListener("click", function () {
        modal.classList.remove("hidden");
      });

      closeModal.forEach((close) => {
        close.addEventListener("click", function () {
          modal.classList.add("hidden");
        });
      });
    },

    toggleModal2() {
      const modal = document.querySelector(".modal2");
      const showModal = document.querySelector(".show-modal2");
      const closeModal = document.querySelectorAll(".close-modal2");

      showModal.addEventListener("click", function () {
        modal.classList.remove("hidden");
      });

      closeModal.forEach((close) => {
        close.addEventListener("click", function () {
          modal.classList.add("hidden");
        });
      });
    },

    hasImage(element){
        return this.album.photos.map(photo=>photo.id).includes(element);
    },

    check(event){
     if(this.hasImage(parseInt(event.target.id)))
        this.deletephotoalbum(event.target.id);
      else  
      this.addphotoalbum(event.target.id);
    },

    addphotoalbum(photoId){
      axios.post("http://localhost:8000/api/addphotoalbum/"+this.album_id,{photo:photoId}).then((response)=>{
          console.log(response.data);
          this.album.photos.push(response.data)

      },
      ()=>{
        alert("something went wrong");
      });
    },
    
    deletephotoalbum(photoId){
      axios.post("http://localhost:8000/api/deletephotoalbum/"+this.album_id,{photo:photoId}).then((response)=>{
          console.log(response.data);
          this.album.photos=this.album.photos.filter(photo=>photo.id!=response.data.id);

      },
      ()=>{
        alert("something went wrong");
      });
    },

    updateAlbum(){
      axios.post("http://localhost:8000/api/updatealbum/"+this.album_id, {title:this.album.title,description:this.album.description}).then((response)=>{
          console.log(response.data);

      },
      ()=>{
        alert("something went wrong");
      });
    },
    getAlbum(){
      axios.get("http://localhost:8000/api/getalbum/"+this.album_id).then((response)=>{
          this.album=response.data;
         console.log(response.data);


      },
      ()=>{
        alert("something went wrong");
      });
    },

    getPhotos(){
      axios.get("http://localhost:8000/api/photo").then((response) => {
       this.imagesAll=response.data;
      // this.loadingImages=true;
      });
    },

  
  },
};
</script>

<style>
.modalbody {
   overflow-y: scroll;
}
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
</style>
