<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
                     <button class="bg-blue-600 hover:bg-blue-700 px-3 py-1 rounded text-white m-5 show-modal2">
              New Album
            </button>
        </template>

  
            <div
              class="
                modal2
                h-screen
                w-full
                fixed
                left-0
                top-0
                flex
                justify-center
                items-center
                bg-black bg-opacity-50
                hidden
              "
            >
              <!-- modal -->
              <div class="bg-white rounded shadow-lg w-10/12 md:w-1/3">
                <!-- modal header -->
                <div
                  class="border-b px-4 py-2 flex justify-between items-center"
                >
                  <h3 class="font-semibold text-lg">New Album</h3>
                  <button class="text-black close-modal2">&cross;</button>
                </div>
                <!-- modal body -->
                <div class="p-3">
                             <label class="block text-left">
                             <input  v-model="newAlbum.title" class="appearance-none block w-full  text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  type="text" placeholder="Title">
                           </label>
                            <label class="block text-left">
                              <textarea v-model="newAlbum.description" class="form-textarea mt-1 block w-full" rows="3" placeholder="Enter some long form content."></textarea>
                            </label>
                            
                </div>
                <div class="flex justify-end items-center w-100 border-t p-3">
                  <button
                    class="
                      bg-red-600
                      hover:bg-red-700
                      px-3
                      py-1
                      rounded
                      text-white
                      mr-1
                      close-modal2
                    "
                  >
                    Cancel
                  </button>
                  <button
                   @click="createAlbum()"
                    class="
                      bg-blue-600
                      hover:bg-blue-700
                      px-3
                      py-1
                      rounded
                      text-white
                    "
                  >
                    Oke
                  </button>
                </div>
              </div>
            </div>



        <div v-for="album in albums" :key="album" class="py-12" style="float:left">
            <a :href="'/album/'+album.id" class="no-underline ...">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                       <div class="max-w-sm rounded overflow-hidden shadow-lg">
    
  <img v-if="album.photos.length>0" class="w-full"  :src="'/images/'+album.photos[0].path" >
  <img v-else class="w-full" src='/images/error.jpg' >
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{album.title }}</div>
    <p class="text-gray-700 text-base">
      {{album.description }}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#No</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Status</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Available</span>
  </div>
  </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </BreezeAuthenticatedLayout>
</template>
<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import axios from "axios";
import { createElementVNode } from "@vue/runtime-core";

export default {
  components: {
    BreezeAuthenticatedLayout,
    Head,
  },

  data() {
    return {
        newAlbum:{user_id:1},
        albums:[]

    };
  },

  created() {
      this.getAlbums();

  },
  mounted() {
     this.toggleModal2();
  },

  methods: {
    toggleModal2() {
      const modal = document.querySelector(".modal2");
      const showModal = document.querySelector(".show-modal2");
      const closeModal = document.querySelectorAll(".close-modal2");

      showModal.addEventListener("click", function () {
        modal.classList.remove("hidden");
      });

      closeModal.forEach((close) => {
        close.addEventListener("click", function () {
          modal.classList.add("hidden");
        });
      });
    },
    createAlbum(){
      axios.post("http://localhost:8000/api/newalbum", this.newAlbum).then((response)=>{
          console.log(response.data);
          this.albums.push(response.data)
          this.newAlbum={};

      },
      ()=>{
        alert("something went wrong");
      });
    },

    getAlbums(){
      axios.get("http://localhost:8000/api/album").then((response) => {
       this.albums=response.data;
       //this.loadingImages=true;
      });
    },

  
  },
};
</script>
