<template>
  <Head title="Gallery" />

  <BreezeAuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Gallery</h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-6 bg-white border-b border-gray-200">
               
            <input type="file" @change="Images_onFileChanged($event)" /><button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" @click="Images_onUpload()">
              Upload
            </button>
          
  
     


           

<div v-if="!loadingImages" class=" flex justify-center items-center">
  <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-gray-900"></div>
</div>
            <div class="container mx-auto px-4">
              <section class="pt-8 px-4">
                <div class="flex flex-wrap -mx-4">
                  <div v-for="image in imagesAll" :key="image" class="md:w-1/3 px-4 mb-8">
                    <img
                      class="rounded shadow-md"
                      :src="'/images/'+image.path"
                      alt=""
                    />
                  </div>

     
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import axios from "axios";
import { createElementVNode } from "@vue/runtime-core";

export default {
  components: {
    BreezeAuthenticatedLayout,
    Head,
  },

  data() {
    return {
      Images: null,
      imagesAll:[],
      loadingImages:false
    };
  },

  created() {
    this.getPhotos();
  },
  mounted() {

  },

  methods: {
   

    getPhotos(){
      axios.get("http://localhost:8000/api/photo").then((response) => {
       this.imagesAll=response.data;
       this.loadingImages=true;
      });
    },
    Images_onFileChanged(event) {
      this.Images = event.target.files[0];
    },
    Images_onUpload() {
       let image = new FormData();
     image.append('name', new Date().valueOf()+".jpg");
    image.append('image',  this.Images); 
     
      axios.post("http://localhost:8000/api/uploadimage", image).then((response)=>{
          alert("Image Added Successfully");
          this.imagesAll.push(response.data);
      },
      ()=>{
        alert("something went wrong");
      });
      
    },
  },
};
</script>
